{% extends 'back/base.html' %}

{% block content %}

<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header ">
            <h4 class="card-title">{{title}}</h4>
          </div>
          <div class="card-body ">
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
              <div class="row">
                <label class="col-md-3 col-form-label">Judul</label>
                <div class="col-md-9">
                  <div class="form-group">
                    <input name="judul" type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label">Kategori</label>
                <div class="col-md-9">
                  <div class="form-group">
                    <select name="kategori" class="selectpicker" data-size="7" data-style="btn btn-dark" title="Pilih Kategori">
                        {% for k in kategori %}
                    
                        <option value="{{k.nama}}">{{k.nama}}</option>
                    
                        {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label">Pengarang</label>
                <div class="col-md-9">
                  <div class="form-group">
                    <input name="pengarang" type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label">Penerbit</label>
                <div class="col-md-6">
                  <div class="form-group">
                    <input name="penerbit" type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label">Halaman</label>
                <div class="col-md-2">
                  <div class="form-group">
                    <input name="halaman" type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-md-9 text-center">
                    <button type="submit" class="btn btn-dark">Submit</button>
                  </div>
                </div>
              </div>
              <a class="btn btn-sm btn-success" href="{% url 'tabel_buku' %}">Kembali</a>
            </form>
          </div>
        </div>
      </div>
    </div> 
  </div>
{% endblock content %}

